@mixin transition($property, $duration) {
  transition: $property $duration;
}

@mixin underline-transition($width){
  &::after{
    content: '';
    display: block;
    bottom: 0;
    left: 0;
    height: 0.2em;
    background-color: $cat-active;
    transform: scaleX(0);
    @include transition(transform, 0.2s);
    // transition: transform 0.2s;
  }
  &:hover {
    &::after {
      transform: scaleX($width);
    }
  }
}

@mixin style-reset-a-li() {
  a{
    text-decoration: none;
    color: #000;
    &:hover{
      color: #000;
    }
  }

  li{
    list-style-type: none;
  }
}